.container{
  color: #5db434;
  background-color: beige;
  height: 18550px;
  text-align: center;
  max-height: max-content;
  }
  
  
  .NavBar{
    background-color: beige;
    padding: 10px;
    color: #8fdd45;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: left;
  }
  .NavBar button{
    padding: 7px;
    color: #000000;
    background-color: gray;
    border-radius: 10px;
    margin-right: 240px;
  }
.form ::placeholder{
  color:#8fdd45;
  font-size: px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: left;
  padding-left: 0px;
  background-color: gray;
}
.form button{
  color:#8fdd45;
 border-radius: 10px;
  background-color: gray;
}
.form{
  border-radius: 10px;
}