

.container {
display: flex;
flex-wrap: wrap;
gap: 20px;
}
.track {
width: 200px; 
margin-bottom: 20px;
}
.track img {
width: 100%;
height: auto;
}
.track-info {
margin-top: 5px;
text-align: center;
}
.track-info strong {
display: block;
margin-bottom: 5px;
}
.track-info a {
display: block;
}